<%= form_with(model: mining_type, local: true) do |form| %>
  <% if mining_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mining_type.errors.count, "error") %> prohibited this mining_type from being saved:</h2>

      <ul>
      <% mining_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label t('description') %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label t('acronym') %>
    <%= form.text_field :acronym, class:"form-control" %>
  </div>
  <ul>
    
  </ul>

  <div class="actions">
    <%= form.submit nil, class:"btn btn-primary btn-sm" %>
  </div>
<% end %>
</br>